@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
}

#scrollbar::-webkit-scrollbar {
  width: 5px;
  margin-top: 10px;
  height: 10px;
}

#scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.562);
  border-radius: 9999999px;
  height: 5px;
}

#scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #55555588;
}

#animation2 {
  transform: rotate(-1440deg);
}

#animation2:hover {
  animation: animatex 0.4s alternate;
}

@keyframes animatex {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
